.header {
  background: $off-black;
  color: white;
  margin-bottom: $xl-size;
  padding: $med-size 0; 
}

.header__title {
  font-size: $lg-size;
  margin: 0;
}

.header__subtitle {
  font-size: $med-size;
  font-weight: 500;
  color: $off-white;
  margin: 0;
}